/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-color-secondary: #d9d9d9;
  --ifm-color-secondary-dark: #e6e6e6;
  --ifm-color-secondary-darker: #d9d9d9;
  --ifm-color-secondary-darkest: #ff1744;
  --ifm-font-family-base: "Roboto";
  --ifm-code-font-size: 90%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Slighly increase the default font size and reduce the size of h1 heading */
@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

/* Icons for light and dark mode */

.navbar__icon:before {
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  background-color: var(--ifm-navbar-link-color);
}

.navbar__icon:hover:before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.navbar__github:before {
  mask: url("@site/static/img/navbar/github.svg") no-repeat 100% 100%;
  mask-size: cover;
}

.navbar__gitlab:before {
  mask: url("@site/static/img/navbar/gitlab.svg") no-repeat 100% 100%;
  mask-size: cover;
}

.navbar__wordpress:before {
  mask: url("@site/static/img/navbar/wordpress.svg") no-repeat 100% 100%;
  mask-size: cover;
}

#infographic {
  margin: 0 auto;
  width: 50%;
}

@media screen and (min-width: 280px) {
  #infographic {
    margin: 0 auto;
    width: 50%;
  }
}
