.bodyText {
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 16px;
}

.title {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  text-align: center;
  padding: 1em;
}
